.git/
venv/
.venv/
__pycache__/
*.pyc
.env

data/samples/
data/annotation_round1/
data/annotation_round1.zip
data/evaluation_results/
data/manually_annotations/
data/topic_mapping.json
data/annotation_round1_files.csv

pipeline/
*.pdf
*.xlsx
*.md
example.csv
syllabi_index.csv
test_api.sh
